<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Escuela</h1> - <h3>(años)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Numquam veniam eveniet 
                praesentium, laborum dignissimos totam magni
                 facilis accusamus voluptatem tempora. 
                 Architecto inventore atque eos nobis tempore 
                 voluptatibus tenetur modi molestias.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Escuela</h1> - <h3>(años)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Numquam veniam eveniet 
                praesentium, laborum dignissimos totam magni
                 facilis accusamus voluptatem tempora. 
                 Architecto inventore atque eos nobis tempore 
                 voluptatibus tenetur modi molestias.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Escuela</h1> - <h3>(años)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Numquam veniam eveniet 
                praesentium, laborum dignissimos totam magni
                 facilis accusamus voluptatem tempora. 
                 Architecto inventore atque eos nobis tempore 
                 voluptatibus tenetur modi molestias.
            </p>
        </ul>
    </div>

</div>

